<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple Polygon</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-9" id="map"></div>
              <div class="col-md-3">
                  <ul id="userPolygons"></ul>
              </div>
          </div>

          <div class="row">
              <div class="userControls col-md-6">
                <button id="delete-button">Delete Selected Shape</button>
                <button id="save-button">Save Selected Shape</button>
                <button id="toggle-heatmap-button">Toggle heatmap</button>
            </div>
            <div class="userControls col-md-6">
                <div id="config-data">
                    Latitude spacing <span id="lat-spacing"></span>
                    Longitude spacing <span id="lng-spacing"></span>
                </div>


              </div>
          </div>





      </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script type="text/javascript" src="/js/maps.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAISSZlD5lopHgK0VRPjIRfdAUuet0NVnc&libraries=drawing,visualization&callback=initMap">
    </script>
  </body>
</html>
