<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Users API</p>
    <ul>
        <li>Get all users <a href="/users">/users</a></li>
        <li>Get users by id = 20 <a href="/users/20">/users/20</a></li>
        <li>Search by name <a href="/users/search/t">/users/search/t</a></li>
    </ul>
  </body>
</html>
