html, body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 15px;
    padding: 0;
    color: #FFFFFF;
    background-color: #404040;
}

#map {
    height: 700px;
}

a {
    color: #00B7FF;
}

input{
    color: #000000;
}

li {
    list-style: none;
}

#userPolygons{
    height: 700px;
    overflow: auto;
    padding: 0px 10px;
}

#userPolygons>li{
    background-color: #565656;
    padding: 12px;
    margin-bottom: 10px;
}

button {
    background-color: #00B7FF;
    padding: 8px;
    cursor: pointer;
    border: none;
}

.userControls{
    margin-top: 15px;
    padding-left: 0px;
}
